.card {  
    border: 1px solid #dee2e6; /* borde de las cartas */  
    border-radius: 0.25rem; /* esquinas redondeadas */  
}  

.card-img-top {  
    height: 200px; /* ajusta la altura de las imágenes */  
    object-fit: cover; /* asegurarte de que la imagen cubra el área */  
}  

